a{
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: grey;
}

* {
  box-sizing: border-box;
}
h1 {
  font-size: 39px;
  font-family: 'Dosis', sans-serif;
  margin-top: 30px;
}
h2 {
  font-size: 25px;
  font-family: 'Dosis', sans-serif;
  margin-right: 30px;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}


.header {
  width: 100%;
  padding: 0 30;
  display: flex;
  align-items: baseline;
}
.nav {
    list-style: none;
    border: 0;
    padding: 0 30;
    display: inline-block;
}

.nav li {
  display: inline-block;
  padding: 25px;
  font-family: 'Dosis', sans-serif;
  font-size: 25px;
}

.nav a {
  color: black;
}

.nav a:hover{
  color: grey;
}

.image{
  width: 100%;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}



.wrapper {
  background-color: white;
  margin-top: : 10px;
  margin-left:auto;
  margin-bottom: 10px
  margin-right: auto;
  width:100%;
}

.lebenslauf {
  display: flex;
  flex-flow: column wrap;
  margin-left: 435px;
  margin-top: 50px;
  font-family: 'Dosis', sans-serif;

}


.pic-container{
width:100%;
white-space:nowrap;
overflow-x:inherit;
overflow-y:hidden;
margin-left: 0px;
margin-right: 0px;
margin-top: 50px;
}

.pic-row {
width: 100%;
height: 100%;
}

h3 {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0px;
  font-family: 'Orbitron', sans-serif;
}

.intro{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
